* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "reboto", sans-serif;
  margin-top: 0%;
  padding: 48px 10%;
  background-color: #EAEAEA;  

}


#conteiner {
  border-radius: 1%;
  background-color: #FFFFFF;
}
:root {
  --bg-page: #EAEAEA;
  --bg-rece: #FFFFFF;
  --text-color: #39393A;
  --title-color: #1B1B1B;
  --other-color: #8F8F8F;
}

.subtitle {
  margin: 30px 0 10px;
  text-align: center;
  font-size: 20px;
}

/* textos gerais*/
.content-block {
  border: 1px solid red;

}

.list-itens {
  display: flex;
  flex-direction: column;
  padding: 0px 25px;
  gap: 15px;
  font-size: 16px;
  color: var(--text-color);
}

/* imagem*/
#main-image {
  display: block;
  max-width: 80%;
  max-height: 400px;
  width: auto;
  height: auto;
  border-radius: 1%;
  margin: auto;
}
/* titulo*/

#title {
  text-align: center;
  font-size: 28px;

}